* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}
body {
    background-color: #4a8eaf;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Open Sans';
}

h1 {
    color: #eee;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.26);
}

canvas {
    width: 700px;
    height: 350px;
    border-radius: 7px;
}

.control {
    background-color: #eee;
    width: 300px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.26);
}
.control ul {
    list-style-type: none;
}
.control li {
    margin: 15px 0 15px 0;
}
.control .spaced {
    line-height: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.control input[type='range'] {
    width: 200px;
}
.control input[type='number'] {
    width: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ccc;
}
.control input[type='number']:focus {
    border-bottom: 2px solid #000;
    outline: none;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}
@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
